*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
}
nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100vw;
    position: fixed;
    top: 0;

}
ul{
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 2rem;
}

.btn{
    font-size: 1.2rem;
    color: black;
    padding: 6px 15px;
    border: 1px solid black;
}
#play{
    background-color: blueviolet;
}
.imgContainer{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}